<article class="post-info">
  <h1 class="post-info-title"><%= page.title %></h1>
  <%- partial('_partial/post-meta',{ post:page }) %>
  <div class="post-info-content">
    <%- page.content %>
  </div>
</article>
