<header class="header">
  <div class="header-content">
    <div class="header-title">
      <a href="<%- url_for() %>" class="header-title-logo"
        ><%= config.title %></a
      >
    </div>
    <nav class="header-navbar">
      <ul class="header-menu">
        <% for (name in theme.menu) { %>
        <li class="header-menu-item">
          <a href="<%- url_for(theme.menu[name]) %>"
            ><%- __('Menu.' + name) %></a
          >
        </li>
        <% } %>
      </ul>
    </nav>
  </div>
</header>
