.posts {
  .post:first-child {
    margin-top: 0;
    border-top: none;
  }

  .post {
    margin: 0.5rem auto;
    padding: 0.75rem 0px;
    background-color: #fff;
    // border-top: 1px dashed @border-color;

    &-content {
      a {
        border-bottom: 1px solid @border-color;
      }
    }
  }

  .post-title {
    font-size: 1.5em;

    .post-title-link {
      transition: all 0.5s ease-in-out;
    }
  }

  .more {
    font-size: 12px;
    display: inline-block;
    padding: 0 0.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    background: @base-color;
    color: @a-color;
    text-align: center;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: @a-hover-color;
    }
  }

  & > hr:nth-last-child(1) {
    display: none;
  }
}

.post-meta {
  color: #999;
  font-size: 12px;

  a {
    color: inherit;
  }

  &-split {
    margin: 0 2px;
  }
}

.post-info {
  &-title {
    font-weight: 400;
  }

  &-content {
    a {
      border-bottom: 1px solid @border-color;
    }
  }
}
