.post-list-no-des {
  list-style: none;
  padding: 0;

  &-item {
    margin: 5px 0;
    display: flex;

    &-date {
      display: inline-block;
      margin-right: 10px;
      color: @a-color-50;
      width: 50px;
    }
  }
}
